*{
    margin:0;
    padding:0;
}
body{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b791+0,f7885f+100 */
background: rgb(249,183,145); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(249,183,145,1) 0%, rgba(247,136,95,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,183,145,1) 0%,rgba(247,136,95,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(249,183,145,1) 0%,rgba(247,136,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b791', endColorstr='#f7885f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-family: "Yatra One", cursive;
font-size: 40px;
    letter-spacing:-1px;
}
.section{
    margin:0px;
    height:4000px;
    width:100%;
    float:left;
    text-shadow:1px 1px 2px #f0f0f0;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;
    background:#000 url(black_vert.jpg) repeat-x bottom left;
}
.white{
    color:#000;
    background:#fff url(white_vert.jpg) repeat-x bottom left;
}

.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}


.blueDiv {
  display:none;
    }
    
    

#righthand {
 text-transform: uppercase;
margin-top: 0px;
 text-align: right;
  width: 50%;
  height: 80%;
  float: right;
}

#lefthand {
 margin-top: 0px;
  width: 50%;
  height: 80%;
  display: none;
}

#swearing {
  text-align: center;
  padding: 30px;
  width: 100%;
  display:none;
  clear: both;
  }

