body {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b791+0,f7885f+100 */
background: rgb(249,183,145); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(249,183,145,1) 0%, rgba(247,136,95,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,183,145,1) 0%,rgba(247,136,95,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(249,183,145,1) 0%,rgba(247,136,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b791', endColorstr='#f7885f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-family: "Yatra One", cursive;
font-size: 40px;
}

/*
font-family: 'Mogra', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Chonburi', cursive;
font-family: 'Yatra One', cursive;
*/

.blueDiv {
  display:none;
    }
    
    

#righthand {
margin-top: 0px;
 text-align: right;
  width: 50%;
  height: 80%;
  float: right;
}

#lefthand {
 margin-top: 0px;
  width: 50%;
  height: 80%;
  display: none;
}

#swearing {
  text-align: center;
  padding: 30px;
  width: 100%;
  display:none;
  clear: both;
  }
